{% extends '../shared/navigation.html' %}
{% load static %}
{% block css %}
    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        td .label {
            padding:5px 10px; display:inline-block; color:white;
        }

        .badge-purple, .badge.badge-purple, .label-purple, .label.label-purple {
            background-color: #9585BF;
        }

        .badge-danger, .badge-important, .badge.badge-danger, .badge.badge-important, .label-danger, .label-important, .label.label-danger, .label.label-important {
            background-color: #D15B47;
        }
    </style>

{% endblock %}
{% block body %}
    <main>

        <!-- Title -->
        <div class="container g-pt-50 g-pb-30">
            <h1 class="h2 mb-0" style="display:inline-block"><i
                    class="fa fa-fw fa-clock-o"></i>Vaccination Appointment</h1>


            <a href="{% url 's1_landing_view' %}" class="btn btn-lg btn-success pull-right"><i
                    class="fa fa-fw fa-eyedropper"></i>New Appointment</a>

            <a href="{% url 's_signup' %}" class="btn btn-lg btn-success pull-right" style="margin-right: 10px"><i
                    class="fa fa-fw fa-user"></i>My Profile</a>
            <div class="gray" style="margin-left: 50px; color: gray">{{ MyEmail }}</div>
        </div>
        <!-- End Title -->

        <!-- Listing - Main Info -->
        <div class="container">

                <div class="alert alert-block alert-warning" style="display: none" id="ShowVerifyRequire">
					<button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-times"></i> </button>
                    <i class="ace-icon fa fa-warning "></i>
                    Your email has <strong class="green"> multiple </strong>
                    registrations, please click <a class="green" style="font-weight: bold" href="#" onclick="return verifyClick();" >here</a>
                    to verify your email to review these information.
                </div>



                <div class="alert alert-block alert-success" style="display: none" id="ShowVerifySent">
					<button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-times"></i> </button>
                    <i class="ace-icon fa fa-warning "></i>
                    Verification email has been send to your email, please goto your email box verify it .
                </div>

            <div class="row">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Appointment</th>
                        <th scope="col">Site</th>
                        <th scope="col">Vaccination</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                     {{ AptInfo|safe }}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="mt-5 mb-5">&nbsp;</div>

    </main>

{% endblock %}

{% block js %}
    <script>
        /*global $*/
        $(document).on('ready', function () {
            $.HSCore.components.HSDatepicker.init('#week-of-datepicker');
            {% if ShowVerifyRequire %}
                $('#ShowVerifyRequire').show();
            {% endif %}

            {% if ShowVerifySent %}
                $('#ShowVerifySent').show();
            {% endif %}
        });

        function verifyClick(){
            MG.Modal.showLoading();
            $.post('/p/results/?action=sendVerifyEmail', function (){

                MG.Modal.hideLoading();
                alert("Verification email has sent to your registered mail box.");
            });
            return false;
        }

    </script>
{% endblock %}