{% extends 'inc/SomosCovidFrame.html' %}

{% block ContentHeader %}
    <title>Patient Search Landing | SOMOS</title>
     <style type="text/css">
        body{
            font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;!important;
            align-items: center;
        }

        #content{
            background-image: linear-gradient(90deg,rgba(47,45,65,.7),rgba(47,45,65,.7)),url(/p/static/images/covid.png);
            background-position: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 48rem;
            opacity: 1;
        }
        .search-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 24rem;
        }
        .search-title{margin: 0 0 16px;font-size: 58px;line-height: 56px;color: white;}
        .search-input input{font-size: 3rem;line-height:initial!important;}
        .search-input select{font-size: 3rem;line-height:initial!important;
                      border:none;
                      appearance:none;color: black;
                      -moz-appearance:none;
                      -webkit-appearance:none;
                      background:url("/p/static/images/select_drowdown_arrow.gif") no-repeat scroll right center #fff;
                      padding-right:14px;
                    }
    </style>

{% endblock %}

{% block ContentMainContent %}
    <div id="content" class="row" >
            <div class="col-sm-12 justify-content-center align-self-center search-main " style="margin-top: 50px">
                    <h2 class="search-title">{{ Lang.landing_title }} &nbsp;&nbsp;&nbsp;</h2>
                    <div class="search-input">
                        <i class="fa fa-calendar fa-4x text-white"></i> <input style="width: 17rem" id="bookingDay" value="{{ BookingDay }}">
                        <select style="width: 14rem"> <option>7:00 PM</option></select>
                        <input type="text" placeholder="{{ Lang.zipcode }}" style="width:15rem"  />
                         <button style="background: red; height: 5rem" onclick="searchSite()"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <i class="fa fa-search fa-4x text-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>

                    </div>
            </div>

   <div class="col-sm-12 mt-auto" style="text-align: center; color: white;"  >           Proudly Supported by The Digital Health Platform from MDLand</div>

     </div>


    <script type="text/javascript">
        function searchSite() {
            url = './p/sites/?action=search'
            window.location.href = url;
        }

        $('#bookingDay').datepicker();

    </script>

{% endblock %}
