{% extends '../shared/navigation.html' %}

{% block css %}

{% endblock %}


{% block body %}
    <body>
    <main>
        <!-- Content -->
        <div class="bg-corona g-py-100">
            <div class="g-max-width-645 text-center mx-auto">

                <h1 class="g-color-white g-font-weight-600">Register below to stay updated on the COVID-19 vaccine and vaccine availability.</h1>

            </div>
        </div>
        {% include './subscribe_form.html' %}
    </main>
    </body>
    {% include './subscribe_form_js.html' %}
{% endblock %}
